/* Imports  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&display=swap');

/* Universals */
*{
    text-transform: uppercase;
}

html{
    background-color: #2b2d42;
}

hr{
    color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p{
    color: rgba(255, 255, 255, .9);
    font-family: 'Roboto Condensed', sans-serif;
}

strong, b, i, em{
    color: #D90429;
}

img{
    height: 5em;
    width: auto;
    max-height: 50%;
    max-width: 50%;
}
video{
    max-height: 50%;
    max-width: auto;
}


/* Header Section */
header{
    padding: 2em;
}
.title{
    font-size: 3em;
}
.sub-title, .date{
    color: #D90429;
    text-decoration: underline;
}
.title, .sub-title, .date{
    letter-spacing: .1em;
}

/* Table of Contents Section  */
nav{
    padding-top: 2em;
}
.table-of-contents{
    text-align: center;
    font-size: 2em;
    padding: 0;
}
.table-of-contents-list{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-content: center;
    flex-flow: row wrap;
    background-color: #8D99AE;
    padding: 20px 0px 20px 0px;
    border: 1px solid white;
}
.table-of-contents-list li a{
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2em;
}

/* Agenda Section */
#agenda{
    padding: 30px;
    display: block;
}

/* Last Meeting Section */
#lastMeeting{
    display: none;
}

/* New Mechanics Section */

.lizard, .spock{
    display: inline-block;
    width: 40%;
}

/* Forms Section */
.forms{
    display: grid; 
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 50%);
    grid-gap: 20px;
}